/* header */
header {
  width: 100%;
  height: 120px;
  background-color: #7ea2b7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 16px auto;
}

/* header 資訊包裝層 */
header > .header_info {
  height: 46px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 1376px;
}

/*  左側標題區塊  */
header > .header_info > .header_info_title {
  display: flex;
  align-items: center;
  gap: 12px;
}

header > .header_info > .header_info_title > .header_info_title_icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 3px;
}

header > .header_info > .header_info_title > .header_info_title_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header
  > .header_info
  > .header_info_title
  > .header_info_title_text
  > .header_info_title_text_cn {
  font-size: 24px;
  color: #fff;
}

header
  > .header_info
  > .header_info_title
  > .header_info_title_text
  > .header_info_title_text_en {
  font-size: 11.1px;
  color: #fff;
}

/*  右側時間區塊  */
header > .header_info > .header_info_time {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
}

header > .header_info > .header_info_time > .header_info_time_date {
  font-size: 14px;
  color: #fff;
}

header > .header_info > .header_info_time > .header_info_time_update {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 16px;
}

header
  > .header_info
  > .header_info_time
  > .header_info_time_update
  > .header_info_time_update_icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}

header
  > .header_info
  > .header_info_time
  > .header_info_time_update
  > .header_info_time_update_time {
  font-size: 12px;
  color: #fff;
  opacity: 70%;
  display: flex;
  align-items: center;
}

/* 當地溫度區塊 */
.current-weather {
  height: auto;
  width: 100%;
  flex-shrink: 0;
}

.current-weather_local {
  height: 575px;
  width: 100%;
  background-image: url('/image/local-weather/header.png');
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

/* 全國溫度區塊 */
.current-weather_national {
  height: 125px;
  width: 100%;
  background-color: #7ea2b7;
  flex-shrink: 0;
}

/* footer */
footer {
  height: 100px;
  width: 100%;
  background-color: #7ea2b7;
  bottom: 0;
  flex-shrink: 0;
}
